<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-dark">
                Listagem de contatos cadastrados
                </h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td class="texte-center">ID</td>
                                <td class="texte-center">Nome</td>
                                <td class="texte-center">Telefone</td>
                                <td class="texte-center">Celular</td>
                                <td class="texte-center">Email</td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

<script src="assets/contato/controller/list.js"></script>
